@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.home-container {
  font-family: 'Poppins', sans-serif;
  padding: 40px 60px;
  background: linear-gradient(to right, #fce4ec, #e3f2fd);
}

.hero {
  text-align: center;
  margin-bottom: 60px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 10px;

  span{
    color: #1a237e;
}
}



.hero p {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

.info-section {
  margin-bottom: 80px;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  background: linear-gradient(to right, #fae7ed, #dae5ee);

}

.content.reverse {
  flex-direction: row-reverse;
}

.content img {
  flex: 1 1 400px;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.content:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.text {
  flex: 1 1 400px;
  margin-left: 10px;
}

.text h2 {
  font-size: 2rem;
  color: #1e1e1e;
  margin-bottom: 10px;
}

.text p {
  color: #444;
  line-height: 1.6;
}
